{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 col-md-2 sidenav">
                <div class="bg-dark collapse position-fixed" id="navbarToggleExternalContent">
                    <ul class="nav py-4">
                        <h6>個人</h6>
                        <div class="first_item">
                            <li><a href="#chatting"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                          style="float: left"></span>吹水台</a>
                            </li>
                        </div>
                        <div class="first_item_2">
                            <li><a href="#study"><span class="fas fa-fire" aria-hidden="true"
                                                       style="float: left"></span>高登熱</a></li>
                        </div>
                    </ul>
                    <ul class="nav py-4">
                        <h6>推薦 </h6>
                        <div class="Second_item">
                            <li><a href="#chatting"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                          style="float: left"></span>Chatting</a>
                            </li>
                        </div>
                        <div class="Second_item_2">
                            <li><a href="#study"><span class="fas fa-fire" aria-hidden="true"
                                                       style="float: left"></span>study</a>
                            </li>
                        </div>
                    </ul>
                    <ul class="nav py-4">
                        <h6>數碼 </h6>
                        <div class="Third_item">
                            <li><a href="#chatting"><span class="bi bi-cpu" aria-hidden="true"
                                                          style="float: left"></span>Chatting</a>
                            </li>
                        </div>
                        <div class="Third_item_2">
                            <li><a href="#study"><span class="fas fa-mobile-alt" aria-hidden="true"
                                                       style="float: left"></span>study</a>
                            </li>
                        </div>
                    </ul>
                    <ul class="nav py-4">
                        <h6>消閒 </h6>
                        <div class="Third_item">
                            <li><a href="#chatting"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                          style="float: left"></span>Chatting</a>
                            </li>
                        </div>
                        <div class="Third_item_2">
                            <li><a href="#study"><span class="glyphicon glyphicon-phone" aria-hidden="true"
                                                       style="float: left"></span>study</a>
                            </li>
                        </div>
                    </ul>
                    <h6>生活 </h6>
                    <div class="Third_item">
                        <li><a href="#chatting"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                      style="float: left"></span>Chatting</a>
                        </li>
                    </div>
                    <div class="Third_item_2">
                        <li><a href="#study"><span class="glyphicon glyphicon-phone" aria-hidden="true"
                                                   style="float: left"></span>study</a>
                        </li>
                    </div>
                    </ul>
                    <h6>其他 </h6>
                    <div class="Third_item">
                        <li><a href="#chatting"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                      style="float: left"></span>Chatting</a>
                        </li>
                    </div>
                    <div class="Third_item_2">
                        <li><a href="#study"><span class="glyphicon glyphicon-phone" aria-hidden="true"
                                                   style="float: left"></span>study</a>
                        </li>
                    </div>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-8">
                <div class="container">
                    <div class="tab-content" style="margin-top: 50px">
                        <ul class="nav nav-tabs list-inline">
                            <li>
                                <button type="button" class="btn btn-circle btn-sm"
                                        style="font-size: 18px; margin-top: -3px;">
                                    <span class="glyphicon glyphicon-refresh" style="top: 3px"></span>
                                </button>
                            </li>
                            <li><h4>吹水台</h4></li>
                            <li class="dropdown"><button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class='far fa-comment-dots fa-1x' style="margin-right: 9px"></span>最後回應時間<span class="caret" style="margin-left: 12px"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a href="#"><span class='far fa-comment-dots fa-1x' style="margin-right: 9px"></span>最後回應時間</a></li>
                                    <li><a href="#"><span class='far fa-comment-dots fa-1x' style="margin-right: 9px"></span>發表時間</a></li>
                                    <li><a href="#"><span class='fas fa-fire fa-1x' style="margin-right: 9px"></span>熱門</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">全部<span class="caret" style="margin-left: 12px"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">全部</a></li>
                                    <li><a href="#">正式</a></li>
                                    <li><a href="#">公海</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="list-group" style="width: 500px; margin-top: 20px">
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">First List Group Item Heading</h4>
                            <p class="list-group-item-text">List Group Item Text</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Second List Group Item Heading</h4>
                            <p class="list-group-item-text">List Group Item Text</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Third List Group Item Heading</h4>
                            <p class="list-group-item-text">List Group Item Text</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

{% endblock %}
