<div class="container-fluid text-center" style="float:left; margin-left: -60px">
        <div class="row content">
            <div class="col-sm-2 col-md-3 sidenav" style="width: 200px">
                <div class="bg-dark collapse position-fixed" id="navbarToggleExternalContent">
                    <ul class="nav py-4">
                        <h6>個人</h6>
                        <div class="first_item">
                            <li><a href="#chatting"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                          style="float: left"></span>回帶</a>
                            </li>
                        </div>
                        <div class="first_item_2">
                            <li><a href="#study"><span class="fas fa-fire" aria-hidden="true"
                                                       style="float: left"></span>留名</a></li>
                        </div>
                    </ul>
                    <ul class="nav py-4">
                        <h6>推薦 </h6>
                        <div class="Second_item">
                            <li><a href="#chatting"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                          style="float: left"></span>吹水台</a>
                            </li>
                        </div>
                        <div class="Second_item_2">
                            <li><a href="#study"><span class="fas fa-fire" aria-hidden="true"
                                                       style="float: left"></span>高登熱</a>
                            </li>
                        </div>
                    </ul>
                    <ul class="nav py-4">
                        <h6>數碼 </h6>
                        <div class="Third_item">
                            <li><a href="#chatting"><span class="bi bi-cpu" aria-hidden="true"
                                                          style="float: left"></span>硬件台</a>
                            </li>
                        </div>
                        <div class="Third_item_2">
                            <li><a href="#study"><span class="fas fa-mobile-alt" aria-hidden="true"
                                                       style="float: left"></span>手機台</a>
                            </li>
                        </div>
                    </ul>
                    <ul class="nav py-4">
                        <h6>消閒 </h6>
                        <div class="Third_item">
                            <li><a href="#chatting"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                          style="float: left"></span>音樂台</a>
                            </li>
                        </div>
                        <div class="Third_item_2">
                            <li><a href="#study"><span class="glyphicon glyphicon-phone" aria-hidden="true"
                                                       style="float: left"></span>飲食台</a>
                            </li>
                        </div>
                    </ul>
                    <h6>生活 </h6>
                    <div class="Third_item">
                        <li><a href="#chatting"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                      style="float: left"></span>上班台</a>
                        </li>
                    </div>
                    <div class="Third_item_2">
                        <li>
                            <a href="{{ url_for('main.pet_post') }}"><span class="glyphicon glyphicon-phone" aria-hidden="true"
                                                   style="float: left"></span>寵物台</a>
                        </li>
                    </div>
                    </ul>
                    <h6>其他 </h6>
                    <div class="Third_item">
                        <!--<h1> {{ current_user }}</h1>-->
                        <li><a href="{{ url_for('main.sell_post') }}"><span class="glyphicon glyphicon-tint" aria-hidden="true"
                                                      style="float: left"></span>買賣台</a>
                        </li>
                    </div>
                    <div class="Third_item_2">
                        <!--<h1> {{ current_user }}</h1>-->
                        <li><a href="{{ url_for('main.activity_post') }}"><span class="glyphicon glyphicon-phone" aria-hidden="true"
                                                   style="float: left"></span>活動台</a>
                        </li>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
</div>