{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <div class="col-sm-4 col-md-8">
        <div class="container">
            <div class="tab-content" style="margin-top: 50px">
                <ul class="nav nav-tabs list-inline" style="width: 700px">
                    <li>
                        <button type="button" class="btn btn-circle btn-sm"
                                style="font-size: 18px; margin-top: -3px;">
                            <span class="glyphicon glyphicon-refresh" style="top: 3px"></span>
                        </button>
                    </li>
                    <li><h4>吹水台</h4></li>
                    <li class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class='far fa-comment-dots fa-1x' style="margin-right: 9px"></span>最後回應時間<span
                                class="caret" style="margin-left: 12px"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a href="#"><span class='far fa-comment-dots fa-1x' style="margin-right: 9px"></span>最後回應時間</a>
                            </li>
                            <li><a href="#"><span class='far fa-comment-dots fa-1x' style="margin-right: 9px"></span>發表時間</a>
                            </li>
                            <li><a href="#"><span class='fas fa-fire fa-1x' style="margin-right: 9px"></span>熱門</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">全部<span class="caret"
                                                                                   style="margin-left: 12px"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">全部</a></li>
                            <li><a href="#">正式</a></li>
                            <li><a href="#">公海</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-body"
                     style="padding: 16px;border-radius: 10px; border: black 1px solid; width: 700px; margin-top: 18px;">
                    <h5 class="card-title">Card title</h5>
                    {{ _('%(username)s said %(when)s',username=user_link, when=moment(post.timestamp).fromNow()) }}
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

