{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <div class="col-sm-4 col-md-6">
        <div class="container" style="width: 700px">
            <div class="tab-content" style="margin-top: 50px">
                <ul class="nav nav-tabs list-inline" style="width: 700px">
                    <li>
                        <button type="button" class="btn btn-circle btn-sm"
                                style="font-size: 18px; margin-top: -3px;"><a href="{{ url_for('main.sell_post') }}">
                            <span class="glyphicon glyphicon-refresh" style="top: 3px"></span></a>
                        </button>
                    </li>
                    <li><h4>買賣台</h4></li>
                    <li class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class='far fa-comment-dots fa-1x' style="margin-right: 9px"></span>最後回應時間<span
                                class="caret" style="margin-left: 12px"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a href="#"><span class='far fa-comment-dots fa-1x' style="margin-right: 9px"></span>最後回應時間</a>
                            </li>
                            <li><a href="#"><span class='far fa-comment-dots fa-1x'
                                                  style="margin-right: 9px"></span>發表時間</a>
                            </li>
                            <li><a href="#"><span class='fas fa-fire fa-1x' style="margin-right: 9px"></span>熱門</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">全部<span class="caret"
                                                                                   style="margin-left: 12px"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">全部</a></li>
                            <li><a href="#">正式</a></li>
                            <li><a href="#">公海</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="row">
                {% for NewTopics in Newtopic %}
                    <div class="list-group" style="margin-top: 25px">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true" style="color: black;
                            background-color: white; border-color: black;">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" style="font-size: 20px; color: #f44986">{{ NewTopics.topic }}</h5>
                            </div>
                            <small>{{ moment(NewTopics.timestamp).fromNow() }}</small>
                            <p class="mb-1">{{ NewTopics.post }}</p>
                        </a>
                    </div>
                {% endfor %}
                {% for data in data_set %}
                    <a href="{{ data.url }}"><img src="{{ data.image }}"></a>
                {% endfor %}
                </div>
            </div>
            <div class="col-sm-1 col-md-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>

{% endblock %}